# Core scientific stack
numpy
pandas
matplotlib
seaborn
scikit-learn
ipython
jupyter

# Awkward + HEP tools
awkward
awkward-pandas
uproot

# ML frameworks
tensorflow
keras

# PyTorch
torch
torchvision
torchaudio
torcheval

# PyTorch Geometric (install separately!)
torch-geometric
torch-scatter
torch-sparse
torch-cluster